.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
  }
  
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #87CEEB;
    text-align: center;
  }
  
  #text {
    font-size: 24px;
    margin: 0;  /* Remove default margins */
  }
  
  #toggleButton {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }
  